<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width"/>

    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ajaxBtn').click(function () {
                $.ajax('{% url 'save_chat'%}' ,
                    {
                        dataType: 'json', // type of response data
                        timeout: 5000,     // timeout milliseconds
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            "chat": $('#chat').val(),
                            "uuid": $('#uuid').html(),
                            "link_slug": $('#link_slug').html(),
                        }),
                        success: function (data) {
                            $('p').append(data.message + '<br>').serialize();
                        },
                        error: function (jqXhr, textStatus, errorMessage) {
                            $('p').append('Error: ' + errorMessage);
                        }
                    }
            )
                ;
            });
            window.setInterval(function () {
                $.ajax('{% url 'read_chat'%}',
                    {
                        dataType: 'json', // type of response data
                        timeout: 5000,     // timeout milliseconds
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            "uuid": $('#uuid').html(),
                            "link_slug": $('#link_slug').html(),
                        }),
                        success: function (data) {
                            if (data.message != null) {
                                $('p').append(data.message + '<br>').serialize();
                            }
                        },
                        error: function (jqXhr, textStatus, errorMessage) {
                            $('p').append('Error: ' + errorMessage);
                        }
                    }
            )
                ;

            }, 1000);

        });


    </script>
</head>
<body>
<h1><h1 style="color:MediumSeaGreen">SECRET CHAT</h1>
</h1>
<ul>
    {% for chat_table_obj in chat_table_objs%}
    <li>Your Id is<h6 style="color:blu" id="uuid"> {{chat_table_obj.uuid}}</h6></li>
    <li>Your link_slug is<h6 style="color:blu" id="link_slug"> {{chat_table_obj.link_slug}}</h6></li>
    {%endfor%}
</ul>

<p>
</p>

<input type="text" id="chat" placeholder="Type a message"/><br><br>
<input type="button" id="ajaxBtn" value="Send"/>
<!--	<input type="button" id="ajaxRead" value="Read" />-->


</body>
</html>















